@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box !important;
}

body {
  background-image: url("./images/marbl-depth.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  font-style: italic;
}
