input[type="text"],
textarea,
textarea:focus {
  background-color: transparent;
  border: none;
  padding: 10px;
  width: 50%;
  outline: none;
  color: white;
  font-size: 120%;
}

label {
  color: white;
  display: inline-block;
  width: auto;
  text-align: left;
  font-size: 125%;
  padding: 5px;
}

.inputBoxes {
  height: 20%;
  text-align: left;
}

.center{
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.inputBox {
  background-color: transparent;
  border: none;
  padding: 10px;
  width: 50%;
  outline: none;
  font-size: 120%;
}

.textFieldLabel{
  color: white !important;
}

.teFieldLabel{
  color: white !important;
}

.underline:before{
  border-bottom: 1px solid black;
}
.underline:after{
  border-bottom: 1px solid white;
}

.inputPhone{
  color: white !important;
}
