.parent {
    display: flex;
    flex-direction: row;
}

.label {
    color: white;
}

input[type="number"], input[type="tel"],
textarea,
textarea:focus {
  background-color: transparent;
  border: none;
  padding: 10px;
  width: 50%;
  outline: none;
  color: white;
  font-size: 120%;
}