input[type="text"],
textarea,
textarea:focus {
  background-color: transparent;
  border: none;
  padding: 10px;
  width: 50%;
  outline: none;
  color: white;
  font-size: 120%;
}

label {
  color: white;
  display: inline-block;
  width: auto;
  text-align: left;
  font-size: 125%;
  padding: 5px;
}

div {
  width: 90%;
  margin: auto;
  padding: 10px;
}

div .login_contents {
  margin: auto;
  padding: 15% 0;
}

