.h1Login {
  text-align: center;
}

.formLogin {
  padding-top: 2rem;
  padding-left: 25%;
  padding-right: 25%;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 150%;
}

.label {
  margin-bottom: 0.5rem;
  color: black
}

.inputContainer {
  text-align: center;
  color: white;
  background-color: #05516a;
  width: 50%;
  border-radius: 10px;
}

.input {
  background-color:transparent;
  color: white;
  border: none;
  width: inherit;
}

.password {
  background-color:transparent;
  color: white;
  border: none;
  width: inherit;
  height: 50px;
}
.password:focus {
  outline: none;
}

.submitButton {
  background-color: #fabd44;
  color: white;
  
}

.submitButton:hover{
  background-color: #fabd44bd;
}
