.h1 {
    text-align: center;
    margin:0;
    margin-top: 20px;
}

.home{
   grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  
  .left {
    width: 12rem;
  }
  .right {
    width: 12rem;
  }
  .center {
    width: 12rem;
  }
