.main_container {
  margin: 10px auto;
  border-radius: 30px;
  color: white;
  padding: 15px;
}
.addons {
    justify-content: center;
}
.blueCard {
  background-color: #05516A;
}
.notSoBlue {
  background-color: #05516A;
}