.dropdown {
    position: relative;

  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
  }
  
  .dropdown-menu li {
    list-style: none;
  }
  
  .dropdown button {
    background-color: #fdb900;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
  }

 
  